/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #fe336800;
    background-alt: #fe3368;
    foreground:    #000000;
    selected:       #da6e89;
    active:         #98c379;
    urgent:         #e06c75;
}
